---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
    <section class="grid grid-cols-12 h-screen">
        <div
            class="col-start-2 gap-6 flex flex-col justify-start my-8 items-center col-end-12"
        >
            <img src="/me.png" class="w-[300px] my-6 object-cover h-[300px]" />
            <h1
                class="text-5xl lg:text-5xl font-medium font-[Poppins] capitalize"
            >
                Welcome to my portfolio
            </h1>
            <h3
                class="text-xl lg:text-2xl text-[#717c92] font-normal font-[Poppins]"
            >
                ...even if for now it's more of an improved CV
            </h3>

            <p class="text-md">
                I'm Ahmed 21 years old, I'm currently working as an <strong>
                    Full Stack Developer
                </strong> Remotely🌎 for <a
                    target="_blank"
                    href="https://bamf.com"
                    class="inline-flex items-center text-blue-500"
                >
                    BAMF
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        x="0px"
                        y="0px"
                        width="14"
                        height="14"
                        viewBox="0 0 24 24"
                        class="group-hover:fill-black dark:group-hover:fill-[#eaecef] transition-all duration-150 ease-in-out fill-[#aeaeae]"
                    >
                        <path
                            d="M 19.980469 2.9902344 A 1.0001 1.0001 0 0 0 19.869141 3 L 15 3 A 1.0001 1.0001 0 1 0 15 5 L 17.585938 5 L 8.2929688 14.292969 A 1.0001 1.0001 0 1 0 9.7070312 15.707031 L 19 6.4140625 L 19 9 A 1.0001 1.0001 0 1 0 21 9 L 21 4.1269531 A 1.0001 1.0001 0 0 0 19.980469 2.9902344 z M 5 3 C 3.9069372 3 3 3.9069372 3 5 L 3 19 C 3 20.093063 3.9069372 21 5 21 L 19 21 C 20.093063 21 21 20.093063 21 19 L 21 13 A 1.0001 1.0001 0 1 0 19 13 L 19 19 L 5 19 L 5 5 L 11 5 A 1.0001 1.0001 0 1 0 11 3 L 5 3 z"
                        ></path>
                    </svg>
                </a>
            </p>
        </div>
    </section>
</Layout>

<style></style>
