---
interface Props {
	title: string;
}

import { Download } from "lucide-astro";


const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />

		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
			rel="stylesheet"
		/>
		<script
			is:inline
			src="https://code.jquery.com/jquery-3.7.1.min.js"
			integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
			crossorigin="anonymous"></script>
		<title>{title}</title>
	</head>
	<body class="dark:bg-[#25262b] relative dark:text-[#e2e1db]">
		<header
			class="border-b-2  sticky dark:bg-[#25262b] bg-white top-0 border-b-[#eaecef] dark:border-b-[#333434] items-center px-4 lg:px-8 py-2 flex flex-row justify-between"
		>
			<div>
				<a href="#" class="text-2xl dark:text-white font-normal"
					>Portfolio</a
				>
			</div>

			<div class="lg:hidden">
				<div class="" id="menu">
					<svg
						xmlns="http://www.w3.org/2000/svg"
						x="0px"
						y="0px"
						width="24"
						height="24"
						viewBox="0 0 50 50"
						class="dark:fill-white"
					>
						<path
							d="M 0 7.5 L 0 12.5 L 50 12.5 L 50 7.5 Z M 0 22.5 L 0 27.5 L 50 27.5 L 50 22.5 Z M 0 37.5 L 0 42.5 L 50 42.5 L 50 37.5 Z"
						></path>
					</svg>
				</div>

				<div
					id="menu-drawer"
					class="bg-[#fff] border-r-2 dark:border-r-[#494b4b] flex flex-col justify-start gap-4 dark:bg-[#333434] transition-all duration-700 py-4 w-[220px] h-screen fixed top-0"
				>
					<div
						class="flex px-4 dark:border-b-[#494b4b] border-b-2 flex-row justify-start w-full"
					>
						<a href="#" class="text-2xl">Portfolio</a>
					</div>

					<nav class="gap-2 px-4 py-4 flex border-b-2 flex-col">
						<a
							href="https://github.com/devahmedfarooq/"
							target="_blank"
							class="flex group flex-row items-center justify-start gap-2"
						>
							Github

							<svg
								xmlns="http://www.w3.org/2000/svg"
								x="0px"
								y="0px"
								width="18"
								height="18"
								viewBox="0 0 24 24"
								class="group-hover:fill-black dark:group-hover:fill-[#eaecef] transition-all duration-150 ease-in-out fill-[#aeaeae]"
							>
								<path
									d="M 19.980469 2.9902344 A 1.0001 1.0001 0 0 0 19.869141 3 L 15 3 A 1.0001 1.0001 0 1 0 15 5 L 17.585938 5 L 8.2929688 14.292969 A 1.0001 1.0001 0 1 0 9.7070312 15.707031 L 19 6.4140625 L 19 9 A 1.0001 1.0001 0 1 0 21 9 L 21 4.1269531 A 1.0001 1.0001 0 0 0 19.980469 2.9902344 z M 5 3 C 3.9069372 3 3 3.9069372 3 5 L 3 19 C 3 20.093063 3.9069372 21 5 21 L 19 21 C 20.093063 21 21 20.093063 21 19 L 21 13 A 1.0001 1.0001 0 1 0 19 13 L 19 19 L 5 19 L 5 5 L 11 5 A 1.0001 1.0001 0 1 0 11 3 L 5 3 z"
								></path>
							</svg>
						</a>

						<!-- <select
							class="py-2 dark:bg-[#333434] outline-none cursor-pointer"
						>
							<option>English</option>
							<option>French</option>
							<option>German</option>
							<option>Arabic</option>
						</select> -->

						<a href="/resume-ahmed.pdf"  target="_blank" class="inline-flex group gap-2 items-center"download="Ahmed Farooq CV">Updated CV 
					
							<span class="group-hover:stroke-black dark:group-hover:stroke-[#eaecef] transition-all duration-150 ease-in-out stroke-[#aeaeae] ">
						
							<svg xmlns="http://www.w3.org/2000/svg" stroke-width="2" width="18" height="18" fill="none"  stroke-linecap="round" stroke-linejoin="round"  viewBox="0 0 24 24" data-astro-source-file="D:/Work/Portfolio Video/portfolio/node_modules/lucide-astro/dist/.Layout.astro" data-astro-source-loc="23:17">  <path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4" data-astro-source-file="D:/Work/Portfolio Video/portfolio/node_modules/lucide-astro/dist/Download.astro" data-astro-source-loc="7:3"></path> <polyline points="7 10 12 15 17 10" data-astro-source-file="D:/Work/Portfolio Video/portfolio/node_modules/lucide-astro/dist/Download.astro" data-astro-source-loc="8:3"></polyline> <line x1="12" x2="12" y1="15" y2="3" data-astro-source-file="D:/Work/Portfolio Video/portfolio/node_modules/lucide-astro/dist/Download.astro" data-astro-source-loc="9:3"></line>  </svg>
							
						</span></a>

						<div>
							<button
								id="theme-switch"
								class="outline-none border-b-transparent border-b-2 cursor-pointer"
							>
								Switch Theme
							</button>
						</div>
					</nav>

						<div id="table-of-content " class="flex flex-col gap-1 justify-start" >
							
							<h4 class="text-xl px-2 my-2">Home</h4>
						
							<a href="#spoken_language" class="px-4 border-l-4 rounded-r-lg border-l-blue-500 text-blue-500" >Spoken Languages</a>
							<a href="#project-public" class="px-4 border-l-4 border-l-transparent" >Public Projects</a>
							<a href="#" class="px-4 border-l-4 border-l-transparent" >XP/Technical Skills</a>
							<a href="#" class="px-4 border-l-4 border-l-transparent" >Hobbies</a>
							<a href="#" class="px-4 border-l-4 border-l-transparent" >Contact</a>
						

						</div>
						
					</div>
				</div>
			</div>

			<div class="hidden lg:flex flex-row items-center text-sm gap-4">
				<a
					href="https://github.com/devahmedfarooq/"
					target="_blank"
					class="flex group flex-row items-center justify-start gap-2"
				>
					Github

					<svg
						xmlns="http://www.w3.org/2000/svg"
						x="0px"
						y="0px"
						width="18"
						height="18"
						viewBox="0 0 24 24"
						class="group-hover:fill-black dark:group-hover:fill-[#eaecef] transition-all duration-150 ease-in-out fill-[#aeaeae]"
					>
						<path
							d="M 19.980469 2.9902344 A 1.0001 1.0001 0 0 0 19.869141 3 L 15 3 A 1.0001 1.0001 0 1 0 15 5 L 17.585938 5 L 8.2929688 14.292969 A 1.0001 1.0001 0 1 0 9.7070312 15.707031 L 19 6.4140625 L 19 9 A 1.0001 1.0001 0 1 0 21 9 L 21 4.1269531 A 1.0001 1.0001 0 0 0 19.980469 2.9902344 z M 5 3 C 3.9069372 3 3 3.9069372 3 5 L 3 19 C 3 20.093063 3.9069372 21 5 21 L 19 21 C 20.093063 21 21 20.093063 21 19 L 21 13 A 1.0001 1.0001 0 1 0 19 13 L 19 19 L 5 19 L 5 5 L 11 5 A 1.0001 1.0001 0 1 0 11 3 L 5 3 z"
						></path>
					</svg>
				</a>

				<!-- <select
					class="p-2 dark:bg-[#25262b] outline-none cursor-pointer"
				>
					<option>English</option>
					<option>French</option>
					<option>German</option>
					<option>Arabic</option>
				</select> -->

				<a href="/resume-ahmed.pdf"  target="_blank" class="inline-flex group gap-2 items-center"download="Ahmed Farooq CV">Updated CV 
					
					<span class="group-hover:stroke-black dark:group-hover:stroke-[#eaecef] transition-all duration-150 ease-in-out stroke-[#aeaeae] ">
				
					<svg xmlns="http://www.w3.org/2000/svg" stroke-width="2" width="18" height="18" fill="none"  stroke-linecap="round" stroke-linejoin="round"  viewBox="0 0 24 24" data-astro-source-file="D:/Work/Portfolio Video/portfolio/node_modules/lucide-astro/dist/.Layout.astro" data-astro-source-loc="23:17">  <path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4" data-astro-source-file="D:/Work/Portfolio Video/portfolio/node_modules/lucide-astro/dist/Download.astro" data-astro-source-loc="7:3"></path> <polyline points="7 10 12 15 17 10" data-astro-source-file="D:/Work/Portfolio Video/portfolio/node_modules/lucide-astro/dist/Download.astro" data-astro-source-loc="8:3"></polyline> <line x1="12" x2="12" y1="15" y2="3" data-astro-source-file="D:/Work/Portfolio Video/portfolio/node_modules/lucide-astro/dist/Download.astro" data-astro-source-loc="9:3"></line>  </svg>
					
				</span></a>

				<button
					id="theme-toggle"
					class="hover:border-b-blue-400 outline-none border-b-transparent border-b-2 cursor-pointer"
					>Switch Theme</button
				>
			</div>
		</header>
		<slot />

		<script>



			/* $.fn.isInViewport = function() {
				let elementTop = $(this).offset()?.top;
			    let elementBottom = elementTop + $(this).outerHeight();
			
			    let viewportTop = $(window).scrollTop();
			    let viewportBottom = viewportTop +( $(window).height()/2);
			
			    return elementBottom > viewportTop && elementTop < viewportBottom;
			}; */



			$("#theme-switch").on("click", function (e) {
				const currentMode = window.localStorage.getItem("dark-mode");

				if (currentMode === "true") {
					e.target.innerHTML = "Switch to dark mode";
					window.localStorage.setItem("dark-mode", "false");
					$("html").removeClass("dark");
				} else {
					e.target.innerHTML = "Switch to light mode";
					window.localStorage.setItem("dark-mode", "true");
					$("html").addClass("dark");
				}
			});

			$("#theme-toggle").on("click", function (e) {
				const currentMode = window.localStorage.getItem("dark-mode");

				if (currentMode === "true") {
					e.target.innerHTML = "Switch to dark mode";
					window.localStorage.setItem("dark-mode", "false");
					$("html").removeClass("dark");
				} else {
					e.target.innerHTML = "Switch to light mode";
					window.localStorage.setItem("dark-mode", "true");
					$("html").addClass("dark");
				}
			});

			$("#menu").on("click", function (e) {
				if ($("#menu-drawer").hasClass("animate-comein")) {
					$("#menu-drawer")
						.addClass("animate-goout")
						.addClass("left-[-100%]")
						.removeClass("animate-comein")
						.removeClass("left-0");
				} else {
					$("#menu-drawer")
						.addClass("animate-comein")
						.addClass("left-0")
						.removeClass("animate-goout")
						.removeClass("left-[-100%]");
				}
			});
			$(document).ready(function () {
				const currentMode = window.localStorage.getItem("dark-mode");
				$("#menu-drawer").addClass("left-[-100%]");
				if (currentMode === "true") {
					$("html").addClass("dark");
				} else {
					$("html").removeClass("dark");
				}
			});


			$(window).on('resize scroll', function() {
   /*  if ($('#hobbies').isInViewport()) {
        // do something
		// alert("BLACK NEVER BACK")
    } else {
        // do something else
    } */
});


		</script>
	</body>
</html>
<style is:global>
	* {
		font-family:
			Lato,
			-apple-system,
			BlinkMacSystemFont,
			Segoe UI,
			Roboto,
			Oxygen,
			Ubuntu,
			Cantarell,
			Fira Sans,
			Droid Sans,
			Helvetica Neue,
			sans-serif;
	}
</style>
